html, body {
  height: 100%;
}
body {
  background: radial-gradient(#061a99 25%, #0d6b9d);
}

#headers{
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  text-decoration-line: underline;
  text-align: center;
  color: white;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.card-wrapper {
  font-family: "Jersey 15", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.card {
  width: 256px;
  place-items: center;
  z-index: 2;
  aspect-ratio: 50/75;
  isolation: isolate;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;

  &:hover {
      & > .card-front {
          transform: rotateY(180deg);
      }

      & > .card-back {
          transform: rotateY(0deg);
          opacity: 1;
      }
  }
}

.card-front,
.card-back {
  aspect-ratio: inherit;
  transition: inherit;
  width: 100%;
  border-radius: 0.75rem;
  inset: 0;
  position: absolute;
  overflow: hidden;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
}

.card-front {
  z-index: 2;

  & > img {
      max-width: 100%;
  }
}

.card-back {
  background-color: #000000cc;
  backface-visibility: hidden;
  padding: 1.5rem;
  z-index: 2;
  transform: rotateY(-180deg);
  backdrop-filter: blur(4px);
  color: white;
}

